@page "/counter"
@inject ILocalStorageService localStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentCount = await localStorage.GetItemAsync<int>(nameof(currentCount));
        }
        catch (Exception)
        {
            await localStorage.SetItemAsync(nameof(currentCount), currentCount);
        }
        await base.OnInitializedAsync();
    }

    private async Task IncrementCount()
    {
        currentCount++;

        await localStorage.SetItemAsync(nameof(currentCount), currentCount);
    }
}
