@page "/"
@using System.Globalization

<PageTitle>Todo</PageTitle>

<h2>Todo</h2>

<ul class="list-group">
    @foreach(var item in todoItems)
    {
        <li class="list-group-item">
            <input class="form-check-input" type="checkbox" @bind="item.IsCompleted"> 
            @item.Title
        </li>
    }
</ul>

@code{

    [Inject] private ITodoService _TodoService { get; set; } = default!;

    public List<TodoItem> todoItems = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
        todoItems = await _TodoService.GetTodoItemsAsync();

        await base.OnInitializedAsync();
    }

}