@page "/"
@inject ITodoService _TodoService
@inject NavigationManager _Navigation

<PageTitle>Todo</PageTitle>

<h2>Todo</h2>

<div class="btn-group m-2" role="group" aria-label="Basic example">
    <ReloadButton OnClick="ReloadButton" Isbusy="Isbusy" />
    <button class="btn btn-success" @onclick='() => _Navigation.NavigateTo("/Item/Create")'><i class="fa-solid fa-circle-plus"></i> New item</button>
</div>

<ul class="list-group">
    @foreach(var item in todoItems)
    {
        <ProductItemListComponent item="item"/>
    }
</ul>

<LoadingElement Isbusy="Isbusy" />

@code{

    public List<TodoItem> todoItems = new List<TodoItem>();

    public bool Isbusy = false;

    protected override async Task OnInitializedAsync()
    {
        Isbusy = true;

        await Task.Delay(3000); // Simulates time to get data
        todoItems = await _TodoService.GetTodoItemsAsync();

        Isbusy = false;

        await base.OnInitializedAsync();
    }

    public async void ReloadButton()
    {
        todoItems.Clear();
        Isbusy = true;

        await Task.Delay(3000); // Simulates time to get data
        todoItems = await _TodoService.GetTodoItemsAsync();

        Isbusy = false;

        StateHasChanged();
    }

}