@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<BlazoredToasts IconType="IconType.FontAwesome"
                Position="ToastPosition.TopRight"
                SuccessIcon="fa-solid fa-circle-check"
                ErrorIcon="fa-solid fa-bomb"
                WarningIcon="fa-solid triangle-exclamation"
                InfoIcon="fa-solid fa-circle-info" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
