@page "/item/edit/{ItemId:int}"
@inject ITodoService _TodoService
@inject NavigationManager _Navigation

<div class="card">
    <div class="card-header">
        Edit Item
    </div>
    <div class="card-body">
        <ItemFormComponent ValidSubmit="EditTodo" ItemId="ItemId"></ItemFormComponent>
    </div>
</div>

@code {
    [Parameter] public int ItemId { get; set; }

    public async void EditTodo(TodoItem item)
    {
        var newitem = await _TodoService.EditTodoItemAsync(item);

        _Navigation.NavigateTo($"/item/{newitem.Id}");
    }

}
