@page "/item/edit/{ItemId:int}"
@using Microsoft.AspNetCore.JsonPatch
@inject ITodoService _TodoService
@inject NavigationManager _Navigation

<div class="card">
    <div class="card-header">
        Edit Item
    </div>
    <div class="card-body">
        @*<ItemFormComponent ValidSubmit="EditTodo" ItemId="ItemId"></ItemFormComponent>*@
        <EditTodoComponent ValidSubmit="EditTodo" ItemId="ItemId"></EditTodoComponent>
    </div>
</div>

@code {
    [Parameter] public int ItemId { get; set; }

    public async void EditTodo(JsonPatchDocument<TodoItemObject> item)
    {
        var newitem = await _TodoService.PartiallyEditTodoItemAsync(ItemId,item);

        _Navigation.NavigateTo($"/item/{newitem.Id}");
    }
}
