
@if(Isbusy)
{
    <div id="LoadingElement">
        <h1 id="LoadingIcon" class="text-center"><i class="fa-solid fa-arrows-spin fa-spin"></i></h1>

        <h2 id="LoadingText" class="text-center ">Loading</h2>
    </div>
}


@code{
   [Parameter] public bool Isbusy { get; set; } = true;
}