@if(Isbusy)
{
    <button class="btn btn-secondary disabled" disabled><i class="fa-solid fa-rotate fa-spin"></i> @Text</button>
}
else
{
    <button class="btn btn-primary" @onclick="() => Reload.InvokeAsync()"><i class="fa-solid fa-rotate"></i> @Text</button>
}


@code {
    [Parameter] public bool Isbusy { get; set; } = false;

    [Parameter] public string? Text { get; set; } = "";

    [CascadingParameter] public CascadingReloadCallback Reload { get; set; }
}
